body {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 0;
     background-color: whitesmoke;
} 

/* #31333f */
ul {
    list-style-type: none;
    font-size: large;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--navy-blue);
    position: relative;
    width: 100%;
    height: 3.5rem;
    z-index: 999999;
}

:root{
  --dark-blue: #22223B;
  --navy-blue: #4A4E69;
  --gr1: #9A8C98;
  --gr2: #C9ADA7;
  --gr3: #F2E9E4;
}
li {
    height: 100%;
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    height: 100%;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #333;
}

.logo-image {
    width: 65px;
    height: 46px;
    overflow: hidden;
    /*margin-top: -25%;*/
}

iframe{
    border: none;
    position: fixed;
    z-index: 0;
}
.dropbtn {
  background-color: #333;
  color: white;
  padding: 16px;
font-size: large;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bold;
  border: none;
  cursor: pointer;
  height: 3.5rem;

}

.dropdown {
  position: fixed;
  right: 0;
  z-index: 9999999999999;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999999;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #333;
}

.topnav-right {
    float: right;
}

.column {
  float: left;
  width: 33.33%;
  margin: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 1250px;
  display: flex;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.image-sec{
  height: 300px;
}

.container-home{
  width: 1500px;
}

.home-title{
  font-size: 20px;
  font-style: bold;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.italicized{
  font-size: 17px;
  font-style: italic;
}